In [1]:
import pandas as pd
import numpy as np

In [8]:
filereader = pd.read_csv('Ebooks.csv', iterator=True, chunksize=1)
chunk = filereader.get_chunk()
head = chunk.head(0)
head

Empty DataFrame
Columns: [marketplace, customer_id, review_id, product_id, product_parent, product_title, product_category, star_rating, helpful_votes, total_votes, vine, verified_purchase, review_headline, review_body, review_date]
Index: []

In [9]:
chunk = filereader.get_chunk()
chunk.head()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
1,US,26579324,R333RNBQMPVUFT,B014085WTQ,859232728,Flying Toward Forgiveness,Digital_Ebook_Purchase,5,0,0,N,Y,For the young heart that ages later asks inc...,This story holds so much more than meets the e...,2015-08-31

In [10]:
import pandas as pd
import pandas.io.sql as pd_sql
from sqlalchemy import create_engine
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from psycopg2 import connect

In [5]:
params = {
    'host': '35.184.195.154',
    'user': 'postgres',
    'port': 5432,
    'dbname': 'amazon',
    'password': 'Arun1810'
}

# sqlalchemy engine
sql_eng = create_engine(
    'postgresql+psycopg2://',
    connect_args=params
)

# connection
sql_conn = sql_eng.connect()

In [11]:
pd_sql.to_sql(head, 'Ebooks', sql_conn.engine, if_exists='replace', index=False)

In [ ]:
# Creating Schema
for _ in range(1725990):
    pd_sql.to_sql(chunk, 'reviews', sql_conn.engine, if_exists='append', index=False)

In [7]:
#copying data into table
def table_entries(file_name):
    
    # query to copy csv on remote into DB
    query = f'''
    COPY "books" FROM '{file_name}' DELIMITER ',' CSV HEADER;
    '''
    # execute and commit
    result = sql_conn.execute(query)
    sql_conn.execute('commit;')
    print(f'COPY {result.rowcount}')

In [ ]:
file_name = '/home/drsamypal/books.csv'
table_entries(file_name)